<!--<p style="color: green"><%#= notice %></p>-->
<%= render @contact %>

<%= link_to "Edit this contact", edit_contact_path(@contact), class: "btn btn-outline-primary btn-sm" %>
<br>
<br>
<%= link_to "Back to contacts", contacts_path, class: "btn btn-outline-secondary btn-sm" %>
<br>
<br>
<%= button_to "Delete contact", @contact, method: :delete, class:"btn btn-outline-danger btn-sm" %>
